* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.promo {
    min-height: 900px;
    background: url('./images/bg_promo.jpg') center center/cover no-repeat;
}

.promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__title {
    font-size: 42px;
    text-align: center;
}

.promo__subtitle {
    font-size: 20px;
    text-align: center;
}


.info {
    min-height: 1030px;
    background: url('./images/bg_wall.jpg') center center/cover no-repeat;
    display: flex;
}

.info__pet {
    background-image: radial-gradient(circle, rgba(65, 109, 244, .3) 0%, rgba(0, 0, 0, .0) 60%);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__details {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info__details__title {
    color: #416df4;
    font-size: 30px;
}

.info__details__table {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 630px;
}

.info__details__table-header {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 10px;
}

.info__details__table-header > .info__details__table-column {
    color: rgba(103, 29, 0, .48);
    padding: 4px 8px;
    font-size: 12px;
}

.info__details__table-header > .info__details__table-column:nth-child(3) {
    border: 1px solid rgba(103, 29, 0, .48);
}

.info__details__table-header > .info__details__table-column:nth-child(4) {
    border: 1px solid rgba(103, 29, 0, .48);
}

.info__details__table-row {
    padding: 5px;
    border-radius: 1px;
    border: 1px solid rgba(103, 29, 0, .48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.info__details__table-column {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.info__details__table-column:nth-child(1) {
    width: 65px;
    justify-content: center;
}

.info__details__table-column:nth-child(2) {
    justify-content: start;
    width: 250px;
}

.info__details__table-column:nth-child(3) {
    width: 150px;
    justify-content: center;
}

.info__details__table-column:nth-child(4) {
    width: 150px;
    justify-content: center;
}
.info__details__payment {
    display: flex;
    align-items: end;
    width: 50%;
    gap: 20px;
}

.info__details__payment__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 10px;
}

.info__details__payment__info__price {
    font-size: 44px;
}

.info__details__payment__info__btn {
    color: #000;
    background-color: #fcff00;
    border-radius: 7px;
    border: none;
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 1440px) {
    .promo {
        min-height: 700px;
    }

    .promo__logo {
        width: 280px;
    }

    .promo__logo > img {
        width: 100%;
    }

    .promo__boxes {
        width: 500px;
    }

    .promo__boxes > img {
        width: 100%;
    }

    .promo__title {
        font-size: 38px;
    }

    .promo__subtitle {
        font-size: 18px;
    }

    .info__pet > img {
        height: 70%;
    }
}

@media (max-width: 1300px) {
    .info__details__table {
        width: 500px;
    }

    .info__details__table-column > img {
        width: 55px;
    }

    .info__details__table-column {
        font-size: 14px;
    }

    .info__details__table-header > .info__details__table-column {
        font-size: 10px;
    }

    .info__details__table-column:nth-child(2) {
        width: 220px;
    }

    .info__details__payment__box > img {
        width: 200px;
    }

    .info__details__payment__info__price {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .promo {
        min-height: 560px;
    }

    .promo__logo {
        width: 220px;
    }

    .promo__boxes {
        width: 400px;
    }

    .promo__title {
        font-size: 32px;
    }

    .promo__subtitle {
        font-size: 16px;
    }

    .info {
        min-height: 700px;
    }

    .info__pet {
        background-image: radial-gradient(circle, rgba(65, 109, 244, .3) 0%, rgba(0, 0, 0, .0) 50%);
    }

    .info__pet > img {
        height: 50%;
    }

    .info__details__title {
        font-size: 22px;
    }

    .info__details__table {
        width: 400px;
    }

    .info__details__table-column {
        font-size: 12px;
    }

    .info__details__table-column > img {
        width: 40px;
    }

    .info__details__table-header > .info__details__table-column {
        font-size: 7px;
    }

    .info__details__table-column:nth-child(2) {
        width: 200px;
    }

    .info__details__payment__box > img {
        width: 150px;
    }

    .info__details__payment__info {
        margin-bottom: 30px;
    }

    .info__details__payment__info__price {
        font-size: 28px;
    }

    .info__details__payment__info__btn {
        width: 130px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width: 820px) {
    .promo {
        min-height: 420px;
    }

    .promo__logo {
        width: 170px;
    }

    .promo__boxes {
        width: 320px;
    }

    .promo__title {
        font-size: 26px;
    }

    .promo__subtitle {
        font-size: 14px;
    }

    .info {
        min-height: 660px;
        align-items: center;
    }

    .info__pet {
        height: 500px;
        background-image: radial-gradient(circle, rgba(65, 109, 244, .3) 0%, rgba(0, 0, 0, .0) 70%);
    }

    .info__pet > img {
        height: 80%;
    }

    .info__details {
        margin-top: 0;
        gap: 20px;
    }

    .info__details__title {
        font-size: 18px;
    }

    .info__details__table {
        width: 320px;
        margin-bottom: 5px;
    }

    .info__details__table-header > .info__details__table-column {
        font-size: 6px;
    }

    .info__details__table-row {
        gap: 10px;
    }

    .info__details__table-column:nth-child(1) {
        width: 35px;
    }

    .info__details__table-column > img {
        width: 35px;
    }

    .info__details__table-column:nth-child(2) {
        width: 200px;
    }

    .info__details__table-column {
        font-size: 10px;
    }

    .info__details__payment__box > img {
        width: 120px;
    }

    .info__details__payment__info {
        gap: 5px;
    }

    .info__details__payment__info__price {
        font-size: 24px;
    }

    .info__details__payment__info__btn {
        width: 100px;
        height: 25px;
        font-size: 10px;
    }
}

@media (max-width: 660px) {
    .promo {
        min-height: 320px;
    }

    .promo__logo {
        width: 130px;
    }

    .promo__boxes {
        width: 220px;
    }

    .promo__title {
        font-size: 22px;
    }

    .promo__subtitle {
        font-size: 10px;
    }

    .info {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
    }

    .info__pet {
        height: 310px;
        width: 100%;
        background-image: radial-gradient(circle, rgba(65, 109, 244, .3) 0%, rgba(0, 0, 0, .0) 45%);
    }

    .info__pet > img {
        height: 90%;
    }

    .info__details {
        width: 100%;
        align-items: center;
    }

    .info__details__title {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .info__pet {
        height: 220px;
        background-image: radial-gradient(circle, rgba(65, 109, 244, .3) 0%, rgba(0, 0, 0, .0) 50%);
    }

    .info__details__title {
        font-size: 16px;
    }

    .info__details__table {
        width: 290px;
    }

    .info__details__table-row {
        padding: 3px;
    }

    .info__details__table-column:nth-child(1) {
        width: 30px;
    }

    .info__details__table-column > img {
        width: 30px;
    }

    .info__details__table-column {
        font-size: 9px;
    }

    .info__details__table-header {
        margin-bottom: 5px;
    }

    .info__details__table-header > .info__details__table-column {
        padding: 2px 0px;
    }

    .info__details__payment {
        gap: 10px;
        width: min-content;
    }

    .info__details__payment__box > img {
        width: 100px;
    }

    .info__details__payment__info {
        margin-bottom: 20px;
    }

    .info__details__payment__info__price {
        font-size: 20px;
    }

    .info__details__payment__info__btn {
        width: 80px;
        height: 20px;
        font-size: 8px;
    }
}

@media (max-width: 375px) {
    .info__pet {
        height: 180px;
    }
}